{% extends "fluid.html" %}

{% load i18n form_tags %}

{% block pagetitle %}{% trans "Password validation" %}{% endblock %}

{% block container_content %}
<h2 style="text-align: center">{% trans "Validate password" %} <br><small>{% trans "Please confirm your password" %}</small></h2>
<hr>
<form class="form-horizontal" method="POST" action="{% url 'modoboa_webmail:get_plain_password' %}"
      id="uprefs_form">
  {% csrf_token %}
  {% render_form form %}
  <div class="form-actions" style="margin-top: 15px;">
    <button type="submit" class="btn btn-primary btn-lg col-sm-offset-4 col-sm-4" id="validate" name="validate">{% trans 'Validate' %}</button>
  </div>
</form>
{% endblock container_content %}
